
.btn {
  cursor: pointer !important;
  text-align: center !important;
  border: 1px solid rgb(176, 176, 176) !important;
  background-color: rgb(255, 255, 255) !important;
  outline: none !important;
  margin: 0px !important;
  border-radius: 30px !important;
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  position: relative !important;
  padding: 8px 16px !important;
  font-size: 12px !important;
  line-height: 16px !important;
}


.showMore {
  background: transparent !important;
  border: 0px !important;
  cursor: pointer !important;
  margin: 0px !important;
  padding: 0px !important;
  user-select: auto !important;
  color: rgb(34, 34, 34) !important;
  text-decoration: underline !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  outline: none !important;
  align-items: flex-start;
  width: 160px;
  font-size: 1.6rem;
}

.text {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.container{
  display: flex;
  flex-flow: row wrap;
  margin-top: 24px;
  margin-bottom: 32px;
}

.item{
  align-items: flex-start;
  width: 160px;
}
