.modal {
  position: fixed;
  border-radius: 5px;
  z-index: 500;
  background-color: rgb(255, 255, 255);
  color: var(--polar1);
  width: 80%;

  box-shadow:rgba(0,0,0,.28);
  padding: 16px;
  left: 10%;
  top: 5%;
  box-sizing: border-box;
  border-radius: 12px;
  transition: all 0.3s ease-out;
  border: 1px solid green
}

@media (min-width: 600px) {
  .modal {
    max-height: calc(100vh - 100px);
    left: calc(50%-100px);
    box-shadow:rgba(0,0,0,.28);
    padding: 40px !important;
    align-items: center !important;

  }
}

.modalBody{
  max-height: calc(100vh - 200px);
  overflow-y: auto;
    display: flex;
    flex-direction: column;
    overflow: scroll !important;
}

.modalDialog{

}

.modalHeader{
  background-color: rgb(255, 255, 255) !important;
  padding-bottom: 24px !important;
  position: sticky !important;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  border: 1px dashed red

}

.star{
  color: #FF385C;
  font-size: 2.0rem;
}

.header{
  font-size: 3.0rem;
  font-family: "Helvetica Neue" !important;

}

.exitBtn{
  font-size: 1.7rem;
}

.modalContainer{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  flex: 1 1 auto !important;
  overflow: hidden !important;
  padding: 24px !important;
  border: 1px solid black
}


.exitBar{
  flex: 0 0 72px !important;
  position: sticky !important;
  text-align: left !important;
  top: 0px !important;
}

