.baseBar{
  align-self: flex-end;
  height: 5px;
  width: 100px;
  border-radius:10px;
  background: #929494
}

.filler {
  background: #040e0d;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.rating{
  padding: 10px;
}

.container{
  border: 1px dashed green;
  display: flex;
  flex-flow: row wrap;
}

.item{
  align-items: flex-start;
  width: 500px;
}

.indivGraph{
  border: 1px dashed blue;
  width: 495px;
  display: flex;
  flex-flow: row wrap;
}

.ratingTitle{
  border:1px dashed purple;
  align-self: flex-start;
  vertical-align: center;
  width: 320px;
  padding-right: 100px;
}

.ratingNum{
  align-self: center;
  font-size: 1.0rem;
}

.ratingBar{
  align-self: center;
  padding-right: 20px;
}
.pushRight{
  border:1px dashed red;
    display: flex;
  align-self: flex-end

}

